
<form [formGroup]="columnaForm">
    <div class="columna" formArrayName="columnas" *ngFor="let item of columnaForm.get('columnas').controls; let i = index;">
      <div [formGroupName]="i">
        <input formControlName="item" placeholder="Item value">
      </div>
  
    <!-- Chosen name: {{ columna.controls.columnas.controls[i].controls.item.value }} -->
  </div>
  <button type="button" (click)="addItem()" >Agregar</button>
  <button type="button" (click)="printer()" >Mostrar</button>
  <button type="button" (click)="setearFilas()" >Fila</button>
  <!-- <button  type="button" (click)="creadorCeros()" >Creador</button> -->
</form>